<config>
	<defaultLocale>es_AR</defaultLocale>
	<enableLocalServer>false</enableLocalServer>
	<javaHomePath>C:\SH-Server\jre</javaHomePath>
	<tomcatHomePath>C:\SH-Server</tomcatHomePath>
	<hotelWebSite>www.dellosky.com</hotelWebSite>
	<serverURL>http://localhost:8400/SistemaHotelero/messagebroker/amf</serverURL>
</config>